/*<group=General Styles>*/

body {
	text-align: center; /* To Make Content Centered */
	background: silver;
	font: 10pt "Trebuchet MS", "Arial", Helvetica, Arial, sans-serif;
	color: #626262;
	margin: 0 0 0 0;
	padding: 0;
}

p {
}

b, strong {

}

a:hover, a:active {
	background: #cccccc;
}

img {
	border: none;
}

.image-left {
	float: left;
	margin: 3px 3px 3px 0;
	padding: 3px 3px 3px 0;
}

.image-right {
	float: right;
	margin: 3px 0 3px 3px;
	padding: 3px 0 3px 3px;
}
	
/*</group>*/

/*<group=Layout>*/

.clearer {
	clear: both;
}

#bodyIndent {
	width: 100%;
	height: 273px;
    background: repeat-x url(../image/body_top_bg.png);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#banner {
	width: 1440px;
	height: 180px;
	position: relative;
	z-index: 1;
}

#banner_sub {
	width: 1440px;
	height: 3px;
	position: relative;
	z-index: 3;
}   

#banner #logo {
	position: relative;
	right: 0px;
	top: 2px;
	width: 243px;
	text-align: center;
}

#banner #insert {
	position: absolute;
	right: 0px;
	top: 2px;
	display: block;
	width: 658px;
	height: 176px;
}

#container { 
	background: #ffffff repeat-y left url(../image/sidebar_bg.png);
	width: 900px;
	position: relative;
	text-align: left;
	z-index: 2;
}

#contentContainer #content {
	background: #ffffff;
	line-height: 1.4em;
	padding: 10px;
}

#contentContainer {
	float: right;
	width: 657px;
}

#textContainer {
	color: #404040;
	float: center;
	width: 840px;
	padding-left: 30px;
}

#pageHeader {
	height: 90px;
	border-top: 3px solid;
}

#pageHeader img {
}

#pageHeader h1 {
	margin-top: 0px;
	color: #BE4903;
	font: 2.5em "comic sans MS", "lucida grande", sans-serif;
	font-weight: bold;
	padding-left: 250px;
	padding-top: 0px;
}

#pageHeader h2 {
	margin-top: 30px;
	padding-left: 0px;
	font-size: 1.7em;
	font-weight: bold;
	color: #222222;
}

#sidebarContainer {
	width: 243px;
}

#sidebarContainer #sidebar {
	font: 10pt "Trebuchet MS", Helvetica, Arial;
	padding: 0 10px 10px;
}

#sidebarContainer .sideHeader {
	color: #BE4903;
	font: 
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px 10px 3px;
}

#footer {
	width: 900px;
	color: #ffffff;
	position: relative;
	background: #BE4903;
}

#footer p {
	text-align: center;
	margin: 0;
	padding: 1px;
}

#footer a:link, #footer a:visited {
	color: #ffffff;
	text-decoration: underline;
}

#footer a:hover, #footer a:active {
	text-decoration: none;
}
	
/*</group>*/

/*<group=Bread-crumb>*/

#breadcrumbcontainer {
	text-align: right;
	padding-top: 10px;
	right: 10px;
	bottom: 0px;
}

#breadcrumbcontainer ul {
	list-style: none;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {

}

#breadcrumbcontainer a:hover {

}
	
/*</group>*/

/*<group=Toolbar>*/

/* Toolbar Styles */

#navcontainer {
	padding-top: 10px;
	margin-bottom: 10px;
}

#navcontainer #current {
	color: #ffffff;
}

#navcontainer .currentAncestor {
}

/* Parent - Level 0 */

#navcontainer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navcontainer li {

}

#navcontainer a{
	background: #999999;
	border-bottom: 1px solid #fff;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px 10px;
	height: 13px;
}

#navcontainer a:hover {
	color: #ffffff;
}

#navcontainer a:active {

}

/* Child - Level 1 */

#navcontainer ul ul {
}

#navcontainer ul ul li {
}

#navcontainer ul ul a {
	padding-left: 25px;
}

#navcontainer ul ul a:hover{

}

#navcontainer ul ul #current{

}

#navcontainer ul ul .currentAncestor {

}

/* Child - Level 2 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul li {
}

#navcontainer ul ul ul a {
	padding-left: 40px;
}

#navcontainer ul ul ul a:hover{

}

#navcontainer ul ul ul #current{

}

#navcontainer ul ul ul .currentAncestor {

}
/* Child - Level 3 */

#navcontainer ul ul ul ul {
}

#navcontainer ul ul ul ul li {
}

#navcontainer ul ul ul ul a {
	padding-left: 55px;
}

#navcontainer ul ul ul ul a:hover{

}

#navcontainer ul ul ul ul #current{

}

/* Child - Level 4 */

#navcontainer ul ul ul ul ul {
}

#navcontainer ul ul ul ul ul li {
}

#navcontainer ul ul ul ul ul a {
	padding-left: 70px;
}

#navcontainer ul ul ul ul ul a:hover{

}

#navcontainer ul ul ul ul ul #current{

}

/*</group>*/

/*<group=Global Classes>*/


.imageStyle {

}

/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
	margin: 10px;
	padding: 0 10px;
}

#sidebarContainer #sidebar li {
}

/* Table Styles */
table {
	font-size: 1em;
}
/*</group>*/

/*<group=Contact Form>*/
.message-text { 
} 

.required-text {
	color: #ff0000;
} 

.form-input-field {
} 

.form-input-button { 
} 
/*</group>*/


a:link, a:visited {
	color: #BE4903;
	text-decoration: none;
}

#banner_sub {
	background: #BE4903;
}

#banner {
	background: #BE4903;
}

#banner #insert {
	background: url(../image/n95_header.jpg) no-repeat;
}

#pageHeader {
	border-top-color: #BE4903;
}

#navcontainer #current {
	background: #999999;
	color: #ffffff;
}

#navcontainer #current:hover {
	background: #BE4903;
	color: #ffffff;
}

#navcontainer .currentAncestor {
	background: #BE4903;
	color: #ffffff;
}

#navcontainer a:hover {
	background: #BE4903;
}

#navcontainer ul ul #current{
	background: #BE4903;
}
#navcontainer ul ul .currentAncestor {
	background: #BE4903;
}

#navcontainer ul ul ul #current{
	background: #a05e6d;
}

#navcontainer ul ul ul .currentAncestor {
	background: #a05e6d;
}

#navcontainer ul ul  ul ul #current{
	background: #ececec;
	color: #b77786;
}

#navcontainer ul ul ul ul .currentAncestor {
	background: #ececec;
	color: #b77786;
}

blockquote {
	padding: 2px; 
	margin-left: 0em;
	margin-bottom: 0em;
	background: #f2f2f2;
	width: 630px;
	color: #626262;
}


#container, #footer, .blog-archive-headings-wrapper, .blog-archive-entries-wrapper {
	margin: 0px auto 10px; /* Right And Left Margin Widths To Auto */
	text-align: left; /* Hack To Keep IE5 Windows Happy */
}

#sidebarContainer {
	float: left;
}

h1 {
    background-color: white; /*#F5DEB3;*/     /* wheat */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size:25pt;
}

h2 {
    background-color: #F5DEB3;     /* wheat */
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16pt;
}

h3 {
    background-color: #dddddd /* #F5DEB3 */;     /* wheat */
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size:13pt;
}

h4 {
    background-color: #ffffff /* #F5DEB3 */;     /* wheat */
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
	font: "Trebuchet MS", "Arial", Helvetica, Arial, sans-serif;
    font-size:25pt;
}


